{% extends "base.html" %}

{% block title%}智能门锁-白名单{%endblock%}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}">
<script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/white_list.js') }}"></script>
{% endblock%}

{%block body%}
<div class="row" style="margin-top: 20px;">
    <div class="col"></div>
        <div class="col-10" align="center">
            <a style="float:right" href="#" onclick="openAddModal()">
                <button class="btn btn-info" type="button">添加白名单</button>
            </a>
           <table>
            <thead >{{device.device_name}}</thead>
            <input type="hidden" name="device_id" value="{{ device.id }}">
            <input type="hidden" id="redirect-url" value="{{ url_for('guest.white_list', device_id=device.id) }}">
               <tr>
                   <th>序号</th>
                   <th>头像</th>
                   <th>姓名</th>
                   <th>权限</th>
                   <th>操作</th>
                </tr>
               {% for guest in device.guests %}
                    <tr>
                        <td class="count"></td>
                        <td><img src="{{ url_for('uploads', filename=guest.image_name) }}" alt="Avatar" style="width: 50px; height: 50px;"></td>
                        <td>{{ guest.name }}</td>
                        <td>{{ guest.access.value }}</td>
                        <td>
                            <a href="#" onclick="openConfirmModal(event)">
                                <button class="btn btn-danger" data-guest-id="{{ guest.id }}" type="button">删除</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <div class="col"></div>
</div>


<!-- 弹窗 -->
<div id="addModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <div class="modal-header">添加白名单</div>
        <!-- 在这里添加你的弹窗内容 -->
        <div id="warning-message" style="display: center;"></div>
         <div class="row mt-4">
            <div class="col"></div>
            <div class="col">
                <form method="POST" action="#">
                    <div class="form-group">
                        <label for="uploadImage">上传图片</label>
                        <input type="file" class="form-control-file" id="uploadImage" name="upload_image" accept="image/*">
                        <small id="imageHelp" class="form-text text-muted">请选择要上传的图片文件</small>
                    </div>
                    <div class="form-group">
                        <label>图片预览</label>
                        <div id="imagePreview" class="border p-3">
                            <p>上传的图片将在这里预览。</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" name="add_guest_name">
                        <small id="nameHelp" class="form-text text-muted">长度3-100</small>
                    </div>
                    <div class="form-group">
                        <label for="permissionType">选择权限类型</label>
                        <select class="form-control" id="permissionType" name="permission_type">
                            {% for permission in permissions %}
                                <option value="{{ permission }}">{{ permission }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="add-guest-btn" type="button" class="btn btn-primary btn-block">确认</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<div id="confirmModal" class="delete-modal">
    <div class="delete-modal-content">
        <span class="close" onclick="closeConfirmModal()">&times;</span>
        <div class="delete-modal-header">确认从白名单中删除</div>
        <!-- 在这里添加你的弹窗内容 -->
         <div class="row mt-4">
            <div class="col"></div>
            <div class="input-group">
                <input type="hidden" id="guestIdInput">
                <div class="col"></div>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn">确认</button>
                <div class="col"></div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" onclick="closeConfirmModal()">取消</button>
                </div>
                <div class="col"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

{% endblock %}